*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-green: #34B27B;
    --background: #1C1C1C;
    --second-background: #2E2E2E;
}
body {
    background-color: var(--background);
}

#container{
    
    height: 30em;
    width: 30em;
    margin: 0 auto;
    margin-top: 10em;
    color: aliceblue;
}
#content-box{
    text-align: center;
    margin: 170px auto;
    font-size: 120px;
}


#dices-bar {
    margin: 0 auto;
    margin-top: 12em;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    width: 60%;
    height: 100px;
    background-color: var(--second-background);
    border-radius: 30px;
}

.roll-button {
    width: 65px;
    height: 65px;
    margin: 0 20px;
    background-color: transparent;
    border: none;
}

.counter {
    color: var(--main-green);
}
.border {  
    display: none;
    position: absolute;
    margin-left: 270px;
    margin-top: -8px;
    padding: 3px 0;
    text-align: center;
    z-index: 1;
    height: 25px;
    width: 25px;
    background-color: var(--background);
    border:1px solid var(--main-green);
    border-radius: 100%;
}

#border-d4{
    margin-left: 426px;
}