*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
:root {
    --main-green: #34B27B;
    --background: #1C1C1C;
    --second-background: #2E2E2E;
}
body {
    background-color: var(--background);
}

#container{
    position: relative;
    width: 30em;
    height: 30em;
    margin: 0 auto;
    margin-top: 8em;
    color: aliceblue;
    display: block;
    justify-content: center;
}
.counter-dice {
    background-color: var(--second-background);
    height: 120;
    margin: 130px auto;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: table;
}
#calculation {
    margin-top: 20em;
}

#content-box{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 150px;
    text-align: center;
    font-size: 200px;
    color: var(--main-green);
    
}

#buttons{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 12em;
}
button {
    background-color: var(--main-green);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 20px;
    transition:all 0.2s ease-in-out;
    outline: none;
    border: none;
}
#roll-dices:hover {
    box-shadow: #34B27B;
    transition:all 0.2s ease-in-out;
    filter:drop-shadow(0.5px 0.5px 10px var(--main-green));
    outline: none;
    border: none;
}
#roll-dices:focus {
    box-shadow: #34B27B;
    transition:all 0.2s ease-in-out;
    filter:drop-shadow(0.5px 0.5px 10px var(--main-green));
    outline: none;
    border: none;
}
/* barra de dados */
#dices-bar {
    margin: 0 auto;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    width: 60%;
    height: 100px;
    background-color: var(--second-background);
    border-radius: 30px;
}

.roll-button {
    width: 65px;
    height: 65px;
    margin: 0 20px;
    background-color: transparent;
    border: none;
}

/* contador de dados */
.counter {
    color: var(--main-green);
}
.border {  
    display: none;
    position: absolute;
    margin-left: 165px;
    margin-top: -8px;
    padding: 2px 0;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    height: 30px;
    width: 30px;
    background-color: var(--background);
    border:1px solid var(--main-green);
    border-radius: 100%;
}

#border-d4{
    margin-left: 320px;
}

#border-d2 {
    margin-left: 526px;
}